@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gray-400 {
  color: #828282;
}
.text-gray-600 {
  color: #606060;
}
.border-gray-200 {
  border-color: #d6d6d6;
}
.border-gray-400 {
  border-color: #979797;
}
.border-gray-600 {
  border-color: #2e2e2e;
}
